<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CollegeBlazorApp</a>
    </div>
</div>

<div class="buttons">
    <button class="nav-button">
        Encrypt Text
    </button>

    <button class="nav-button">
        Decrypt Text
    </button>

    <button class="nav-button">
        Save
    </button>

    <button class="nav-button">
        Load
    </button>
</div>