@page "/"

<PageTitle>Home</PageTitle>

<p>Enter text then press Encrypt button to Encrypt the text</p>

    <textarea class="text-area" placeholder="Input..."></textarea>
    <textarea class="text-area" placeholder="Output Window" readonly></textarea>




